In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("202312_202312_연령별인구현황_연간.csv", encoding="cp949")
df

,행정구역,2023년_거주자_총인구수,2023년_거주자_연령구간인구수,2023년_거주자_20~29세,2023년_거주자_30~39세,2023년_거주자_40~49세,2023년_거주자_50~59세,2023년_거주자_60~69세
0,전국 (0000000000),"51,090,859","36,815,712","6,181,043","6,547,026","7,871,366","8,630,322","7,585,955"
1,서울특별시 (1100000000),"9,314,535","6,953,548","1,350,822","1,419,153","1,406,016","1,476,224","1,301,333"
2,부산광역시 (2600000000),"3,279,357","2,343,117","376,716","389,098","481,534","537,918","557,851"
3,대구광역시 (2700000000),"2,366,654","1,697,719","281,916","278,986","354,272","418,120","364,425"
4,인천광역시 (2800000000),"2,981,944","2,201,657","362,935","410,863","477,344","511,852","438,663"
5,광주광역시 (2900000000),"1,414,774","1,013,544","190,483","173,371","226,190","239,453","184,047"
6,대전광역시 (3000000000),"1,436,968","1,047,843","198,812","187,192","218,887","241,771","201,181"
7,울산광역시 (3100000000),"1,100,216","808,475","122,298","136,439","177,176","203,819","168,743"
8,세종특별자치시 (3600000000),"385,709","265,321","37,758","59,240","76,961","54,256","37,106"
9,경기도 (4100000000),"13,566,743","9,929,674","1,677,623","1,871,078","2,243,227","2,318,045","1,819,701"
10,강원특별자치도 (5100000000),"1,522,392","1,064,067","163,201","157,997","207,692","260,923","274,254"
11,충청북도 (4300000000),"1,588,880","1,126,371","181,330","187,136","229,545","271,144","257,216"
12,충청남도 (4400000000),"2,123,444","1,469,890","225,170","250,194","322,451","348,173","323,902"
13,전라북도 (4500000000),"1,749,730","1,190,192","190,387","172,410","243,945","299,487","283,963"
14,전라남도 (4600000000),"1,800,075","1,200,532","177,840","169,028","239,871","309,036","304,757"
15,경상북도 (4700000000),"2,546,848","1,752,172","247,746","258,107","355,520","442,662","448,137"
16,경상남도 (4800000000),"3,241,012","2,281,340","322,143","348,910","502,738","580,017","527,532"
17,제주특별자치도 (5000000000),"671,578","470,250","73,863","77,824","107,997","117,422","93,144"